@font-face {
  font-family: "iconfont"; /* Project id 3233354 */
  src: url('iconfont.woff2?t=1697022017860') format('woff2'),
       url('iconfont.woff?t=1697022017860') format('woff'),
       url('iconfont.ttf?t=1697022017860') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chen-arrow-to-bottom:before {
  content: "\e83c";
}

.icon-chen-arrow-to-top:before {
  content: "\e83d";
}

.icon-chen-file-open:before {
  content: "\e670";
}

.icon-chen-save:before {
  content: "\e67c";
}

.icon-chen-disconnect:before {
  content: "\e621";
}

.icon-chen-database:before {
  content: "\e61b";
}

.icon-chen-postgresql:before {
  content: "\ec5d";
}

.icon-chen-refresh:before {
  content: "\e654";
}

.icon-chen-new:before {
  content: "\e624";
}

.icon-chen-listview:before {
  content: "\e67b";
}

.icon-chen-columns:before {
  content: "\e65a";
}

.icon-chen-zidingyilie:before {
  content: "\e6b6";
}

.icon-chen-jurassic_table:before {
  content: "\e6ac";
}

.icon-chen-icon_caret-right:before {
  content: "\e60c";
}

.icon-chen-caret-left:before {
  content: "\e603";
}

.icon-chen-caret-down:before {
  content: "\e604";
}

.icon-chen-folder:before {
  content: "\eb33";
}

.icon-chen-last-page:before {
  content: "\e7b2";
}

.icon-chen-first_page:before {
  content: "\e64c";
}

.icon-chen-pin-fill:before {
  content: "\e863";
}

.icon-chen-reload1:before {
  content: "\e602";
}

.icon-chen-m-geshihuawenzi:before {
  content: "\e7f8";
}

.icon-chen-tubiaozhizuo-:before {
  content: "\e605";
}

.icon-chen-play:before {
  content: "\e911";
}

.icon-chen-minus:before {
  content: "\e7fd";
}

.icon-chen-arrow_up_fill:before {
  content: "\e817";
}

.icon-chen-plus:before {
  content: "\e8fe";
}

.icon-chen-reload:before {
  content: "\e944";
}

.icon-chen-stop:before {
  content: "\e63c";
}

.icon-chen-icon_paging_left:before {
  content: "\e652";
}

.icon-chen-icon_paging_right:before {
  content: "\e653";
}

.icon-chen-query:before {
  content: "\e64b";
}

.icon-chen-submit:before {
  content: "\e619";
}

.icon-chen-column:before {
  content: "\e741";
}

.icon-chen-primary:before {
  content: "\e617";
}

.icon-chen-function:before {
  content: "\e833";
}

.icon-chen-view:before {
  content: "\e68e";
}

.icon-chen-table:before {
  content: "\e600";
}

.icon-chen-schema:before {
  content: "\e7e9";
}

.icon-chen-mysql:before {
  content: "\ec6d";
}

.icon-chen-oracle:before {
  content: "\ec48";
}

